*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Declaration of CSS variables */
:root{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    --text-primary: purple ;
    --text-secondary: lightblue;
    --bg-primary: #232323;
    --bg-secondary: #141418;
}

p{
    margin-top: 10px;
    font-weight: 300;
}

body{
    color: black;
    background-color: white;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
}